<router-outlet></router-outlet>

<footer>
    <br><br>
    <div style="background-color: #17a2b8;">
    <article class="mb-3" style="background-image: url('https://thumbs.dreamstime.com/b/fondo-de-alta-tecnolog%C3%ADa-del-movimiento-la-velocidad-con-los-rayos-brillantes-en-azul-139821183.jpg');">
        <div class="card-body text-center">
            <h3 style="color:white" > Help-Desk TeleAtlántico </h3>
           <br>
            <p>

            </p>
        </div>
        <br><br>
    </article>
</div>
</footer>