<app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <div class="card bg-light">
    <article class="card-body mx-auto">
      <h4 class="card-title mt-3 text-center">Solicitud de Soporte</h4>
      <hr>
      <form autocomplete="off" [formGroup]="issueForm" (ngSubmit)="registerIssue()">
        <table>
<tr>
<th>
  Información personal
</th>
<th style="width: 3cm;"></th>
<th>
Detalles de la Solicitud
</th>
</tr>

<tr>

<td>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-hashtag"></i> </span>
    </div>
    <input class="form-control"  formControlName="reportnumber" type="text" readonly>
  </div>
</td>
<td style="width: 3cm;"></td>
<td>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-tty"></i>
      </span>
    </div>
    <select formControlName="service">
      <option value='0'>Seleccione un servicio</option>
      <option *ngIf="client.telephone == 1" value="Telefonía fija">Telefonía fija</option>
      <option *ngIf="client.mobilephone == 1" value="Telefonía móvil">Telefonía móvil</option>
      <option *ngIf="client.television == 1" value="Cable">Cable</option>
      <option *ngIf="client.internet == 1" value="Internet">Internet</option>
    </select>
  </div>

</td>
</tr>

<tr>

  <td>
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="far fa-id-card"></i> </span>
      </div>
      <input class="form-control" formControlName="name" type="text" readonly>
    </div>
  </td>
  <td style="width: 3cm;"></td>
  <td>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fas fa-comment-alt"></i> </span>
      </div>
      <textarea [class.is-invalid]="valueNoValid('description')" style="resize: none;" formControlName="description" class="form-control"
        placeholder="Especifique su problema" type="text">
  
                </textarea>
    </div>
    
  </td>
  </tr>
  <tr>

    <td>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fas fa-home" aria-hidden="true"></i> </span>
        </div>
        <input class="form-control" formControlName="address" type="text" readonly>
      </div>
    </td>
    </tr>

    <tr>
      <td>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-mobile-alt" aria-hidden="true"></i> </span>
          </div>
          <input class="form-control" formControlName="contactphone" type="number" readonly>
        </div>
        
  </td>
</tr>
<tr>

<td>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-phone" aria-hidden="true"></i> </span>
    </div>
    <input class="form-control" formControlName="contactphoneSecond" type="number" readonly>
  </div>

</td>

</tr>
<tr>
<td>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-at" aria-hidden="true"></i> </span>
    </div>
    <input class="form-control" formControlName="contactemail" type="email" readonly>
  </div>

</td>

</tr>

</table>
 
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block"> Crear Solicitud </button>
        </div>
      </form>
    </article>
  </div>
</div>
