<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div *ngIf="!issues" class="loader">Loading...</div>

    <div *ngIf="issues" class="response-table card bg-light">
        <h4 class="card-title mt-3 text-center">Historial de Solicitudes</h4>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Número de reporte</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Servicio</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let issue of issues">
                    <td>{{ issue.id }}</td>
                    <th>{{ issue.creationdate | date }}</th>
                    <td>{{ issue.status }}</td>
                    <td> {{ issue.service }}</td>
                    <td >
                        <a class="btn btn-outline-info" (click)="issueDetail(issue.id)"> <td> Ir</td> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>