<app-nav-bar></app-nav-bar>

  <h4 class="card-title mt-3 text-center">Detalles de Solicitud</h4>
  <hr>
  <div *ngIf="!issue" class="loader">Loading...</div>
  <div *ngIf="issue" class="row">
    

    <table style="margin: 0 auto;">
<tr>
<td style="width: 8.5cm;">  
  <ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <strong>Fecha:</strong>
  </li>
  <li class="list-group-item">{{ issue.creationdate | date}}</li>
</ul>
</td>
<td style="width: 3cm;"></td>
<td style="width: 8.5cm;"> <ul class="list-group list-group-horizontal">
  <li class="list-group-item"><strong>Servicio:</strong></li>
  <li class="list-group-item">{{ issue.service}}</li>
</ul></td>

</tr>
<tr>
  <td style="width:  8.5cm;">  <ul class="list-group list-group-horizontal">
    <li class="list-group-item"> <strong>Descripción:</strong></li>
    <li class="list-group-item">{{ issue.description}}</li>
  </ul></td>
  <td style="width: 3cm;"></td>
  <td style="width: 8.5cm;"><ul class="list-group list-group-horizontal">
    <li class="list-group-item"> <strong>Estado:</strong> </li>
    <li class="list-group-item">{{ issue.status}}</li>
  </ul></td>
  
  </tr>
  <tr>
    <td style="width: 8.5cm;"><ul class="list-group list-group-horizontal">
      <li class="list-group-item"> <strong>Número de reporte:</strong> </li>
      <li class="list-group-item">{{ issue.id}}</li>
    </ul></td>
    <td style="width: 3cm;"></td>
    <td style="width:  8.5cm;"> <ul class="list-group list-group-horizontal">
      <li class="list-group-item"> <strong>Dirección:</strong> </li>
      <li class="list-group-item">{{ issue.address}}</li>
    </ul></td>
    
    </tr>
    <tr>
      <td style="width:  8.5cm;"> <ul class="list-group list-group-horizontal">
        <li class="list-group-item"> <strong>Correo:</strong> </li>
        <li class="list-group-item">{{ issue.contactemail}}</li>
      </ul></td>
      <td style="width: 3cm;"></td>
      <td style="width: 8.5cm;"> <ul class="list-group list-group-horizontal">
        <li class="list-group-item"> <strong>Contacto:</strong> </li>
        <li class="list-group-item">{{ issue.contactphone}}</li>
      </ul></td>
      
      </tr>
<tr>
<td> </td>
<td> </td>
</tr>

      <tr>
        <td style="width: 8.5cm;"> <li class="list-group-item">
          <div class="form-group input-group">
            <label for="">
              <strong class="m-1">
                Agregar comentario:
              </strong>
            </label>
            <form autocomplete="off" [formGroup]="commentForm" (ngSubmit)="registerComment()">
              <textarea formControlName="description" class="form-control" placeholder="Descripción" type="text">
                            </textarea>
              <button type="submit" class="btn btn-info btn-sm"> Agregar </button>
            </form>

          </div>
        </li></td>
        <td style="width: 3cm;"></td>
        <td style="width: 8.5cm;"> <li class="list-group-item">
          <strong>Comentarios:</strong>
        </li>
        <ng-template ngFor let-item [ngForOf]="comments" let-i="index">
          <li style="font-size: small;" class="list-group-item">{{comments[i].description}}
            <span>({{ comments[i].creationdate}})</span> - <span>({{ comments[i].creationuser}})</span>
          </li>
        </ng-template></td>
        
        </tr>
        </table>   
       
    

   
   
  </div>


