<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="card bg-light">
        <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">
                Perfil
            </h4>
            <hr />
            <table>
                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-id-card"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="name" type="text" readonly />
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="address" type="text" readonly />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="contactphone" type="number" readonly />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="contactphoneSecond" type="number" readonly />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="contactemail" type="email" readonly/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="contactemail" type="email" readonly/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input class="form-control" formControlName="contactemail" type="email" readonly/>
                        </div>
                    </td>
                </tr>

            </table>
        </article>
    </div>
</div>